/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Lexend+Exa:wght@100..900&display=swap');

/* CSS Variables */

:root {
    --heading-font: "Delius Swash Caps", serif;
    --body-font: "Lexend Exa", sans-serif;
    --text-color: #2e1708;
    /*dark brown*/
    --background-color: #eace98;
    /* beige */
    --feature-color-1: #dc862c;
    /*burnt orange*/
    --feature-color-2: #b1894d;
    /* olive green */
}

/* Global Styles */

body {
    background-color: var(--background-color);
    font-family: var(--body-font);
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar */

.navbar-brand {
    font-family: var(--heading-font);
    font-size: xx-large;
}


#navbar {
    background-color: var(--text-color);
}

/* Containers */


.foot-container {
    background-color: var(--feature-color-1)
}
