/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Lexend+Exa:wght@100..900&display=swap');

/* CSS Variables */

:root {
    --heading-font: "Delius Swash Caps", serif;
    --body-font: "Lexend Exa", sans-serif;
    --contrast-color: #2e1708;
    /*dark brown*/
    --background-color: #eace98;
    /* beige */
    --feature-color-1: #dc862c;
    /*burnt orange*/
    --feature-color-2: #b1894d;
    /* olive green */
}

/* Global Styles */

body {
    background-color: var(--background-color);
    font-family: var(--body-font);
    color: var(--contrast-color);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

h2 {
    margin-bottom: 2rem;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sharp-corners,
.sharp-corners * {
    /* selects all elements that have a parent with sharp-corner class */
    border-radius: 0;
}

/* Navbar */

.navbar-brand {
    font-family: var(--heading-font);
    font-size: xx-large;
}


#navbar {
    background-color: var(--contrast-color);
}

/* Containers */

.main-container {
    background-color: var(--feature-color-2);
}

/* Card images */

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card {
    color: var(--contrast-color);
}

#service .card {
    margin-bottom: 1.5rem;
}

.btn {
    background-color: var(--feature-color-1);
    width: 30%;
    border: none;
}

.social-media {

    color: var(--contrast-color);
    transition: color 0.3s ease-in-out;
    margin-bottom: 2rem;
    font-size: xx-large;

}

.social-media i:hover {

    color: var(--feature-color-1);

}


/* Media Queries */

/* Extra Large devices (XX-L devices, more than 1400px) */
@media screen and (min-width: 1400px) {

    /* Make all carousel images the same height */
    .carousel-item {
        max-height: 865px;
    }
}

/* Extra Large devices (large desktops, less than 1400px) */
@media screen and (max-width: 1399.98px) {

    /* Make all carousel images the same height */
    .carousel-item {
        max-height: 744px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {

    /* Make all carousel images the same height */
    .carousel-item {
        max-height: 624px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {

    /* Make all carousel images the same height */
    .carousel-item {
        max-height: 464px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {

    /* Make all carousel images the same height */
    .carousel-item {
        max-height: 344px;
    }

    @media screen and (min-width: 768px) {

        /* Make all service cards the same height for consistency */
        #services .card-body {
            min-height: 191px;
        }
    }
}

/* X-Small devices (portrait phones, less than 576px) */
/*@media screen and (max-width: 575.98px) {


    .carousel,
    .carousel-inner,
    .carousel-item {
        min-height: 224px;
        max-height: 224px;
        min-width: 336px;
        max-width: 336px;
    }

} */ 