/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Lexend+Exa:wght@100..900&display=swap');

/* CSS Variables - :root allows for the selection of all html elements. Taken from the Code Institute Boardwalk Games module project. */

:root {
    --heading-font: "Delius Swash Caps", serif;
    --body-font: "Lexend Exa", sans-serif;
    --contrast-color: #2e1708;
    /*dark brown*/
    --background-color: #eace98;
    /* beige */
    --feature-color-1: #dc862c;
    /*burnt orange*/
    --feature-color-2: #b1894d;
    /* olive green */
}

/* Global Styles */

body {
    background-color: var(--background-color);
    font-family: var(--body-font);
    color: var(--contrast-color);
    padding-top: 74px;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

h2 {
    margin-bottom: 2rem;
}

form {
    margin-top: 3rem;
}


.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* selects all elements that have a parent with sharp-corner class - taken from Code Institute Introduction to bootstrap Module */
.sharp-corners,
.sharp-corners * {
    border-radius: 0;
}

/* Navbar */

.navbar-brand {
    font-family: var(--heading-font);
    font-size: xx-large;
}


#navbar {
    background-color: var(--contrast-color);
}

/* Containers */

.main-container {
    background-color: var(--feature-color-2);
}

/* Card image styling - taken from Stack Overflow (https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width) */

.card-img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card {
    color: var(--contrast-color);
}

#service .card {
    margin-bottom: 1.5rem;
}

.btn {
    background-color: var(--feature-color-1);
    border: none;
}

.social-media {

    color: var(--contrast-color);
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    margin-bottom: 2rem;
    font-size: xx-large;

}

.social-media i:hover {

    color: var(--feature-color-1);

}


/* Media Queries */

/* 2XL devices (XX-L devices, more than 1400px) */
@media screen and (min-width: 1400px) {

    /* Make all carousel images the same height */
    .carousel-item {
        max-height: 865px;
    }
}

/* Extra Large devices (large desktops, less than 1400px) */
@media screen and (max-width: 1399.98px) {

    /* Make all carousel images the same height */
    .carousel-item {
        max-height: 744px;
    }

    .btn {
        width: 20%;
    }

}


/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {

    /* Make all carousel images the same height */
    .carousel-item {
        max-height: 624px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {

    /* Make all carousel images the same height */
    .carousel-item {
        max-height: 464px;
    }
}

.btn {
    width: 40%;
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {

    /* Make all carousel images the same height */
    .carousel-item {
        max-height: 344px;
    }

}    


/* X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {


    .carousel-item>img {
        min-height: 224px;
        max-height: 224px;
        min-width: 336px;
        max-width: 336px;
    }


    #carousel-container {
        max-width: 336px;
    }

}