/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Lexend+Exa:wght@100..900&display=swap');

/* CSS Variables */

:root {
    --heading-font: "Delius Swash Caps", serif;
    --body-font: "Lexend Exa", sans-serif;
    --text-color: #2e1708; /*dark brown*/
    --background-color: #eace98; /* beige */ 
    --feature-color-1: #dc862c; /*burnt orange*/
    --feature-color-2: #b1894d; /* olive green */
}


/* Global styles */

body {
    font-family: var(--body-font);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    color: var(--text-color);
}

.container, 
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: var(--feature-color-1)
}

footer > .col-12 {
    background-color: var(--feature-color-2)
}

#navbar {
    background-color: var(--feature-color-2)
}